/*PALETTE
PRIMARY #388e3c
LIGHT #6abf69
DARK #00600f
SECONDARY #ffff00
LIGHT #ffff5a

#424242
#6d6d6d
#1b1b1b
*/


html, body {
  font-family: "Raleway", sans-serif;
}

#logo-square {
  height: 55px;
  border-radius: 50%;
  border: 2px solid #ffff00;
  /*border: 2px solid black;*/
  margin-left: 40px;
}


/*SPLASH*/
.pl {
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.splash {
  background-position: center;
  background-image: url('images/splash3.jpg');
}

#positioner {
  width: 50%;
  height: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
}

#down-arrow {
  position: absolute;
  right: -25px;
  bottom: 10px;
  height: 30px;
  width: 30px;
  bottom: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 50%;
  border: 2px solid black;
  padding: 10px;
}

header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2)
}

h1 {
  text-align: center;
  font-size: 40px;
}

#right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

#link-wrapper {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  padding: 8px 10px;
  color: black;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  padding: 8px 9px;
}

.nav-item:visited {
  color: black;
}

.twitter-link img {
  height: 45px;
}

/*ABOUT*/

.about {
  height: 320px;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote {
  margin-right: 30px;
}

#quote p {
  color: #ffffff;
  margin: 8px 5px 5px 20px;
  font-size: 16px;
  line-height: 1.3em;
}

h3 {
  border-top: 2px solid white;
  margin-top: 20px;
  padding: 20px;
  color: white;
  font-size: 20px;
}

#about-shadow {
  background-color: #1b1b1b;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-left: 30px;
}

#creed-about {
  height: 360px;
  border: 2px solid white;
}

/*RIDERS*/

#riders {
  background: linear-gradient(rgba(27, 27, 27, 0.8), rgba(27, 27, 27, 0.5));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 50px;
}

#riders h4 {
  color: #ffffff;
  font-size: 28px;
  margin: 70px 10px 15px;
  text-transform: uppercase;
  /*font-weight: 500;*/
}

.rider-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  
}

.rider-card {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rider-card h5 {
  color: #ffffff;
  margin-top: 10px;
  /*text-indent: 3px;*/
}

.rider-photo {
  border: 2px solid #ffffff;
  width: 227px;
  height: 243px;
}

/*STAFF*/

#staff {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(27, 27, 27, 0.4));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#staff-wrapper {
  display: flex;
}

#staff-wrapper img {
  /*border: 2px solid black;*/
}

#staff h4 {
  color: #1b1b1b;
  font-size: 28px;
  margin: 30px 10px 15px;
  text-transform: uppercase;
  font-weight: 500;
}


/*SPONSORS*/

#sponsors {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  margin: 30px 10px 10px;
  text-transform: uppercase;
}

.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100px;*/
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(27, 27, 27, 0.8));
}

#sponsor-wrapper {
  display: flex;
  padding: 10px 10px 50px;
}

.sponsor {
  font-size: 20px;
  border: 2px solid black;
  background-color: #ffffff;
  padding: 5px 10px;
  margin: 20px 10px;
}

/*FOOTER*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.8);
  padding: 5px;
}

footer a {
  color: black;
  margin: 4px;
}

#contact {
  font-size: 13px;
}

#attributes {
  font-size: 10px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 820px) {
  .about {
    height: 100%;
    padding: 15px 20px 10px;
    /*border: 10px solid magenta;*/
  }
}

/*@media screen and (max-width: 780px) {
  header {
    justify-content: center;
  }
  
  #right-nav {
    margin: 5px 3px;
  }
  
  #logo-square {
    height: 40px;
    width: 40px;
    margin: 10px;
  }
  
  .nav-item {
    font-size: 17px;
  }
}*/

@media screen and (max-width: 770px) {
  .about {
    flex-direction: column;
  }
}